<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informações gerais-SolarBanyu</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="icon" href="/assets/favicon.png" type="image/png">
</head>
<body>
    <%- include('partials/sidebar') %>
    <div class="main-content">
        <%- include('partials/header') %>
        <div class="dashboard">
            <h1>Informações gerais</h1>
            <p>Aprenda mais sobre as motivações do SolarBanyu.</p>
            <div class="general-info">
                <div class="grid-container">
                    <a href="/mudancas-climaticas" class="grid-item">
                        <img src=https://plus.unsplash.com/premium_photo-1664298311043-46b3814a511f?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8bXVkYW4lQzMlQTdhcyUyMGNsaW0lQzMlQTF0aWNhc3xlbnwwfHwwfHx8MA%3D%3D" alt="Mudanças climáticas">
                        <span>Mudanças climáticas</span>
                    </a>
                    <a href="/energia-solar" class="grid-item">
                        <img src="https://images.unsplash.com/photo-1545209463-e2825498edbf?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8ZW5lcmdpYSUyMHNvbGFyfGVufDB8fDB8fHww" alt="Energia solar">
                        <span>Energia solar</span>
                    </a>
                    <a href="/agua-potavel" class="grid-item">
                        <img src="https://images.unsplash.com/photo-1617404962988-b0d6a45b2d20?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8JUMzJUExZ3VhJTIwcG90JUMzJUExdmVsfGVufDB8fDB8fHww" alt="Água potável">
                        <span>Água potável</span>
                    </a>
                    <a href="/onu-ods" class="grid-item">
                        <img src="https://www.unicef.org/brazil/sites/unicef.org.brazil/files/styles/media_large_image/public/GRID-ODS-semnome-Vazado-PNG-Colorido.webp?itok=ctCHI4WB" alt="ONU ODS">
                        <span>ONU ODS</span>
                    </a>
                    <a href="/seca-no-brasil" class="grid-item">
                        <img src="https://plus.unsplash.com/premium_photo-1671974490050-2d19bed9f522?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8c2VjYXxlbnwwfHwwfHx8MA%3D%3D" alt="Seca no Brasil">
                        <span>Seca no Brasil</span>
                    </a>
                    <a href="/seca-no-brasil" class="grid-item">
                        <img src="https://plus.unsplash.com/premium_photo-1663950775089-8d7a3d89fb97?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8cHJlc2VydmElQzMlQTclQzMlQTNvJTIwZGElMjBuYXR1cmV6YXxlbnwwfHwwfHx8MA%3D%3D" alt="Preservação da natureza">
                        <span>Preservação da natureza</span>
                    </a>
                    <a href="/seca-no-brasil" class="grid-item">
                        <img src="https://plus.unsplash.com/premium_photo-1664477054839-935bfb6480f4?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8YWdyaWN1bHR1cmElMjBmYW1pbGlhcnxlbnwwfHwwfHx8MA%3D%3D" alt="Agricultura Familiar">
                        <span>Agricultura Familiar</span>
                    </a>
                    <a href="/seca-no-brasil" class="grid-item">
                        <img src="https://images.unsplash.com/photo-1518837695005-2083093ee35b?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8JUMzJUExZ3VhfGVufDB8fDB8fHww" alt="Água para todos">
                        <span>Água para todos</span>
                    </a>
                    <a href="/seca-no-brasil" class="grid-item">
                        <img src="https://plus.unsplash.com/premium_photo-1661818305309-dd2145095cb2?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8aXJyaWdhJUMzJUE3JUMzJUEzbyUyMHN1c3RlbnQlQzMlQTF2ZWx8ZW58MHx8MHx8fDA%3D" alt="Irrigação sustentável">
                        <span>Irrigação sustentável</span>
                    </a>
                    <a href="/seca-no-brasil" class="grid-item">
                        <img src="https://images.unsplash.com/photo-1472145246862-b24cf25c4a36?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8c3Rvcm18ZW58MHx8MHx8fDA%3D" alt="Água e clima">
                        <span>Água e clima</span>
                    </a>
                    <a href="/seca-no-brasil" class="grid-item">
                        <img src="https://plus.unsplash.com/premium_photo-1724129050516-566d2ab60e63?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8dmlkYSUyMCUyMHN1c3RlbnQlQzMlQTF2ZWx8ZW58MHx8MHx8fDA%3D" alt="Vida sustentável">
                        <span>Vida sustentável</span>
                    </a>
                    <a href="/seca-no-brasil" class="grid-item">
                        <img src="https://plus.unsplash.com/premium_photo-1676517032135-8b3cbf40b179?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8c2FsfGVufDB8fDB8fHww" alt="Salinização das águas">
                        <span>Salinização das águas</span>
                    </a>
                    <a href="/seca-no-brasil" class="grid-item">
                        <img src="https://plus.unsplash.com/premium_photo-1663045399046-762c27ffe872?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8aGlkcm9wb25pYXxlbnwwfHwwfHx8MA%3D%3D" alt="Hidroponia">
                        <span>Hidroponia</span>
                    </a>
                    <a href="/seca-no-brasil" class="grid-item">
                        <img src="https://images.unsplash.com/photo-1551288049-bebda4e38f71?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Z3JhcGhzfGVufDB8fDB8fHww" alt="Monitoramento digital">
                        <span>Monitoramento digital</span>
                    </a>
                    <a href="/seca-no-brasil" class="grid-item">
                        <img src="https://images.unsplash.com/photo-1661529667854-f80158f30f22?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8aW5vdmF0aW9ufGVufDB8fDB8fHww" alt="Inovação">
                        <span>Inovação</span>
                    </a>
                    <a href="/seca-no-brasil" class="grid-item">
                        <img src="https://plus.unsplash.com/premium_photo-1717602366421-61415250f4cf?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTd8fFRlbXBlcmF0dXJhJTIwZ2xvYmFsfGVufDB8fDB8fHww" alt="Temperatura global">
                        <span>Temperatura global</span>
                    </a>                   
                </div>
            </div>    
        </div>
    </div>
</body>
</html>