<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relat贸rio-SolarBanyu</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="icon" href="/assets/favicon.png" type="image/png">
</head>
<body>
    <%- include('partials/sidebar') %>
    <div class="main-content">
        <%- include('partials/header') %>
        <div class="dashboard">
            <h1>Relat贸rio</h1>
            <p>Gere relat贸rios e veja o hist贸rico completo do seu sistema.</p>            
        </div>
    </div>
</body>
</html>