
<div id="addUnitModal" class="modal">
    <div class="modal-content">
        <span class="close-modal">&times;</span>
        <h2>Adicionar Nova Unidade</h2>
        <form id="addUnitForm">
            <label for="serialNumber">Número de Série:</label>
            <input type="text" id="serialNumber" name="serialNumber" required>
            <button type="submit" class="btn-submit">Adicionar</button>
        </form>
    </div>
</div>