<div class="header">
    <div class="search-bar">
        <input id="search-input" type="text" placeholder="Pesquisar...">
        <button id="search-button" class="search-icon">
            <i class="fas fa-search"></i>
        </button>
    </div> 
    <div class="header-actions">
        <div class="notification">
            <i class="fas fa-bell"></i>
            <span class="badge" id="notification-count">2</span>
        </div>
        <a href="#" id="logout-link" class="logout">Sair</a>
    </div>
</div>
<script src="/js/scripts.js"></script>

<script src="/js/header.js"></script>



